name: CI pipeline

on:
  pull_request:
    branches: [ main, develop ]
  push:
    branches: [main, develop ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Check Google Format
        run: mvn fmt:check